db.sqlite3
scanner/model/ml_model.pkl
venv/
.env
*.parquet
exported_data/
exported_data_enriched/
final_training_data/
final_training_data_with_results/
vertex_training_data.parquet
vertex_training_data_clean.csv
predictions/
*.jsonl
venv/
__pycache__/
*.pyc
quarantine/
enriched_data/
processed_data/
btc_data.csv
one_predictions.csv
two_predictions.csv
two_testing.csv
two_training.csv
two_predictions.csv
two_testing.csv
two_training.csv
*.csv
run_chatgpt_agents.py
chatgpt_get_last_result.py
chatgpt_auto_loop.py
chatgpt_build_dataset.py
chatgpt_simulate_trades.py
chatgpt_take_trades.py
chatgpt_train_model.py
chatgpt.py
.env
build_long_model_dataset.py
build_short_model_dataset.py
check_flat_windows.py
check_gaps.py
check_ohlcv.py
delete_flat_windows.py
export_data.py
fill_gaps_two.py
fill_gaps.py
fill_three.py
new_validate.py
one_dataset.py
one_predictions.py
one_trade_simulator.py
one_training.py
parquet_export.py
prices.py
short_trade_testing.py
test_saved_model.py
test_saved_short_model.py
trade_results.py
trade_testing.py
train_best_xgb_model.py
train_short_xgb_model.py
update_patterns.py
validate_coin_data.py
verify_predictions.py
trendline_charts/
.DS_Store
coinapi/
feature_importance.png
grok_dataset.py

enhanced_model.joblib
feature_scaler.joblib
fou_feature_scaler.joblib
four_model.joblib
four_selected_features.joblib
grok_enhanced_model.joblib
one_model.joblib
selected_features.joblib


